
<h3 class=" text-center">Messagerie</h3>

<div class="col-sm-offset-4 frame">

        <ul id="scrollul">
            <li *ngFor="let m of Messages,trackBy: trackId">
                <div *ngIf="m.receiverId===idclient" class="msg-lui msg">
                    <div class="text text-g">
                        <p>
                            {{m.contenu}}
                        </p>
                        <p>{{m.date |  date : "short"}}</p>
                    </div>
                </div>
                <div *ngIf="m.receiverId!==idclient" class="msg-moi msg">
                    <div class="text text-d">
                        <p>
                            {{m.contenu}}
                        </p>
                        <p>{{m.date |  date : "short"}}</p>
                    </div>
                </div>


            </li>
        </ul>
    <div>
        <div class="msj-rta macro">
            <form name="editform" role="form"  (ngSubmit)="save()" [formGroup]="editForm" style="width: 100%;">
            <div class="input_msg_write">
                <textarea type="text" class="write_msg" placeholder="Tapez votre messsage. On vous répondra rapidement !" formControlName="message"></textarea>
                <button class="msg_send_btn" type="submit"><fa-icon icon="paper-plane"></fa-icon></button>
              </div>
            </form>
        </div>
    </div>

</div>
