<div class="footer text-center">

    <div class="row flex">
        <div class="col-lg-12">
            <p>Lien utile :</p>
        </div>
        <div class="col-lg-12">
            <ul class="list-unstyled">

                <li><a routerLink="CGU"><p >CGU</p></a></li>
            </ul>
        </div>
        <div class="col-lg-12">Site réalisé par : Benjamin Boitelet • 2020</div>
    </div>

</div>
