<div class="row-flex Document">
    <div class="col">
        <h2 class="text-center">Mes Documents</h2>
    </div>
    <div class="col">
        <div class="bs-component" >
            <div class="fichier" *ngFor="let item of [1,2,3,4,5]">
                {{ item }} Fichier
            </div>
        </div>
    </div>
</div>

