.logo-img {
  height: 200px;
  width: 200px;
  display: block;
  background: url('../../../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.btn {
margin-left: auto;
margin-right: auto;
display: block;
width: 300px;
}
