
<form name="UMform" id="UMForm" name="UMForm" class="form" (ngSubmit)="save()" [formGroup]="editForm" >
    <span  class="logo-img"></span>
    <h3> Nous contacter</h3>

        <div class="form-group">
            <label for="Nom">Nom ou Entreprise</label>
            <input  class="form-control" id="Nom"  placeholder="Nom" required formControlName="nom">

          </div>
          <div class="form-group">
            <label for="Mail">Adresse @</label>
            <input type="email" class="form-control" id="Mail" placeholder="E-mail" required formControlName="email">
            <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas votre e-mail</small>
          </div>
          <div class="form-group">
            <label for="Tel">Numéro de téléphone</label>
            <input  class="form-control" id="Tel"  placeholder="Numéro de téléphone" required formControlName="telephone">

          </div>
          <div class="form-group">
              <label for="type">Type de prestations</label>
              <select name="potencial" id="type" class="custom-select sources" formControlName="typepresta">
                  <option  value="Nettoyage de Bureau">Nettoyage de Bureau</option>
                  <option  value="Nettoyage de Commerce">Nettoyage de Commerce</option>
                  <option  value="Nettoyage Industriel">Nettoyage Industriel</option>
                  <option  value="Nettoyage de fin de chantier, de sinistre, de démenagement">Nettoyage de fin de chantier, de sinistre, de démenagement</option>
                  <option  value="Nettoyage de vitre">Nettoyage de vitre</option>
                  <option  value="Desinfection">Désinfection</option>
                  <option  value="Autre Prestation">Autre Prestation</option>

              </select>

          </div>
          <div class="form-group">
            <label for="Desc">Description</label>
            <textarea  class="form-control" id="Desc" placeholder="Description" required formControlName="desc"></textarea>

          </div>
        <button class="btn btn-long btn-primary" type="submit">Envoyer</button>

</form>
