<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span jhiTranslate="projetMarineApp.message.detail.title">Message</span> {{ message.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetMarineApp.message.contenu">Contenu</span></dt>
                <dd>
                    <span>{{ message.contenu }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.message.receiver">Receiver</span></dt>
                <dd>
                    <div *ngIf="message.receiverId">
                        <a [routerLink]="['/client', message.receiverId, 'view']">{{ message.receiverId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.message.sender">Sender</span></dt>
                <dd>
                    <div *ngIf="message.senderId">
                        <a [routerLink]="['/client', message.senderId, 'view']">{{ message.senderId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
