<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetMarineApp.message.home.title">Messages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-message" [routerLink]="['/message/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projetMarineApp.message.home.createLabel">
            Create a new Message
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="messages?.length === 0">
        <span jhiTranslate="projetMarineApp.message.home.notFound">No messages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="messages && messages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.message.contenu">Contenu</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.message.receiver">Receiver</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.message.sender">Sender</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let message of messages ;trackBy: trackId">
                    <td><a [routerLink]="['/message', message.id, 'view']">{{ message.id }}</a></td>
                    <td>{{ message.contenu }}</td>
                    <td>
                        <div *ngIf="message.receiverId">
                            <a [routerLink]="['/client', message.receiverId , 'view']" >{{ message.receiverId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="message.senderId">
                            <a [routerLink]="['/client', message.senderId , 'view']" >{{ message.senderId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/message', message.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/message', message.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(message)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
