<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetMarineApp.client.home.title">Clients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/account/register']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projetMarineApp.client.home.createLabel">
            Create a new Client
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
        <span jhiTranslate="projetMarineApp.client.home.notFound">No clients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.tel">Tel</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.nomEnt">Nom Ent</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.adresseEnt">Adresse Ent</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.adresseFact">Adresse Fact</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.statut">Statut</span></th>
                    <th scope="col" ><span jhiTranslate="projetMarineApp.client.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients ;trackBy: trackId" >
                    <td><a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a></td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.tel }}</td>
                    <td>{{ client.nomEnt }}</td>
                    <td>{{ client.adresseEnt }}</td>
                    <td>{{ client.adresseFact }}</td>
                    <td>{{ client.statut }}</td>
                    <td>
                        {{ client.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="Messagerie"
                                    [routerLink]="['/marine/message', client.id]"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="envelope"></fa-icon>
                                <span class="d-none d-md-inline" >Message</span>
                            </button>
                            <!-- <button type="Document"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">Envoyer un Doc</span>
                            </button> -->

                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(client)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>

