<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-heading" jhiTranslate="projetMarineApp.client.home.createOrEditLabel">Create or edit a Client</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.tel" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                           formControlName="tel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.nomEnt" for="field_nomEnt">Nom Ent</label>
                    <input type="text" class="form-control" name="nomEnt" id="field_nomEnt"
                           formControlName="nomEnt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.adresseEnt" for="field_adresseEnt">Adresse Ent</label>
                    <input type="text" class="form-control" name="adresseEnt" id="field_adresseEnt"
                           formControlName="adresseEnt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.adresseFact" for="field_adresseFact">Adresse Fact</label>
                    <input type="text" class="form-control" name="adresseFact" id="field_adresseFact"
                           formControlName="adresseFact"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetMarineApp.client.statut" for="field_statut">Statut</label>
                    <input type="text" class="form-control" name="statut" id="field_statut"
                           formControlName="statut"/>
                </div>


                <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span >Retour à mes clients</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span >Sauvegarder</span>
                </button>
            </div>
        </form>
    </div>
</div>
