<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="projetMarineApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetMarineApp.client.nom">Nom</span></dt>
                <dd>
                    <span>{{ client.nom }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ client.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.email">Email</span></dt>
                <dd>
                    <span>{{ client.email }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.tel">Tel</span></dt>
                <dd>
                    <span>{{ client.tel }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.nomEnt">Nom Ent</span></dt>
                <dd>
                    <span>{{ client.nomEnt }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.adresseEnt">Adresse Ent</span></dt>
                <dd>
                    <span>{{ client.adresseEnt }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.adresseFact">Adresse Fact</span></dt>
                <dd>
                    <span>{{ client.adresseFact }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.statut">Statut</span></dt>
                <dd>
                    <span>{{ client.statut }}</span>
                </dd>
                <dt><span jhiTranslate="projetMarineApp.client.user">User</span></dt>
                <dd>
                    {{ client.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
