<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="activate.title">Activation</h1>

            <div class="alert alert-success" *ngIf="success">
                <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" >
                <strong>Votre compte utilisateur n'a pas pu être activé.</strong> Votre compte a été supprimé à la création
            </div>
        </div>
    </div>
</div>
