<nav class="navbar navbar-expand-md bg-dark">

      <svg role="img" aria-hidden="true" (click)="openNav()" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">

      </path>
    </svg>

    <a class="navbar-brand logo" routerLink="/">

        <span class="logo-img"></span>
    </a>



    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">


            <!--bouton-->
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'"  ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="client" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.client">Client</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.message">Message</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active">
                            <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active">
                            <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active">
                            <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active">
                            <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active">
                            <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active">
                            <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active">
                            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>


        </ul>
    </div>
</nav>

<div id="mySidenav" class="sidenav" [ngSwitch]="isAuthenticated()">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a class="navbar-brand logo" routerLink="/" (click)="closeNav()">
        <span class="logo-img"></span>


    </a>
    <a class="titre">
    <span *ngIf="!getImageUrl()">
        <fa-icon icon="user"></fa-icon>
        <span jhiTranslate="global.menu.account.main">
            Account
        </span>
    </span>
    <span *ngIf="getImageUrl()">
        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
    </span>
    </a>
    <div >
        <ul>
            <li *ngSwitchCase="true">
                <a class="lien" routerLink="account/settings" routerLinkActive="active" (click)="closeNav()">
                    <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.settings">Settings</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="lien" routerLink="account/password" routerLinkActive="active" (click)="closeNav()">
                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.password">Password</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="lien" (click)="logout(); closeNav();" id="logout">
                    <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
            </li>
            <li *ngSwitchCase="false">
                <a class="lien" (click)="login();" id="login">
                    <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
            </li>

        </ul>
    </div>

    <!--Utilisateur sans Role-->
    <div *ngSwitchCase="false">
        <a class="lien" routerLink="/prendrecontact" routerLinkActive="active" (click)="closeNav()">
            <fa-icon icon="comments" [fixedWidth]="true"></fa-icon>
            Prendre contact
        </a>
    </div>

    <!--Utilisateur client-->
    <div *jhiHasAnyAuthority="'ROLE_CLIENT'">
        <a class="titre">
            <fa-icon icon="compress" [fixedWidth]="true"></fa-icon>
            <span>Echanger avec Marine</span>
        </a>
        <ul>
            <li>
              <a class="lien" routerLink="client/messagerie" routerLinkActive="active" (click)="closeNav()">
                <fa-icon icon="comments" [fixedWidth]="true"></fa-icon>
                <span>Envoyer un Message</span>
            </a>
            </li>
            <!--<li>
                <a class="lien" routerLink="client/fichier" routerLinkActive="active" (click)="closeNav()">
                    <fa-icon icon="file" [fixedWidth]="true"></fa-icon>
                <span>Mes Documents</span>
                </a>
            </li>-->
        </ul>
    </div>
    <!--Utilisateur Marine-->

    <div *jhiHasAnyAuthority="'ROLE_MARINE'">
        <a class="titre">
            <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
            <span>Mes clients</span>
        </a>
        <ul>
            <li>
                <a class="lien" routerLink="account/register" routerLinkActive="active" (click)="closeNav()">
                    <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                    <span>Créer un client</span>
                </a>
            </li>
            <li>
                <a class="lien" routerLink="marine/mesclients" routerLinkActive="active" (click)="closeNav()">
                    <span>Gérer mes clients</span>
                </a>
            </li>
        </ul>

    </div>
  </div>
