@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/solar/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.navbar {
  height: 90px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 90px;
  width: 90px;
  display: inline-block;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center;
  background-size: contain;
}

/* ==========================================================================
sidebar styles
========================================================================== */
.sidenav {
  bottom: 0;
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 10;
  display: flex;
  background-color: #1d4891;
  flex-direction: column;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .lien:hover {
  color :#67bcfa ;
}
.sidenav .titre {
  pointer-events: none;
}
.sidenav li {
  list-style: none;
}

.svg-inline {
  margin-right : 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;

}
.sidenav .navbar-brand {
  margin-top: -50px;
  font-size: 25px;
  top :0;
}
.sidenav .logo-img {
  height: 120px;
  width: 120px;
  margin-left: 25%;
}


@media only screen {

  .sidenav a {font-size: 18px;}
}
