<div class="main">
    <div class="row g-0 overflow-hidden flex-md-rowh-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
            <svg class="image bd-placeholder-img" width="1000" height="500"></svg>

          </div>
        <div class="text col p-4 d-flex flex-column position-static">
            <span class="logo-img"></span>
          <h1>Bienvenue chez BTNet</h1>
          <p class="card-text mb-auto">Spécialisé dans le nettoyage pour les profesionnels. BTNet s'affirme en étant à votre écoute, afin de répondre au mieux à vos attentes mais surtout à vos besoins. Nous vous assurrons un service de qualité en application avec la réglementation actuelle ainsi que la responsabilité sociale de votre entreprise.</p>

        </div>

      </div>

<hr>
<div class="row flex "style="margin-top: 20px;">
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            <img class="card-img-top" src="../../content/images/Bureaux.jpg" alt="Card image">
            <div class="card-body"><h3>Nettoyage <br>des Bureaux</h3> <p>Entetien régulier de vos bureaux, à la fréquence de votre choix, pour vous offrir un environnement sain.</p></div>

        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            <img class="card-img-top" src="../../content/images/Commerces.jpg" alt="Card image">
            <div class="card-body"><h3>Nettoyage <br>des Commerces</h3><p>Assainissement de vos locaux à usage professionnel, pour offrir à votre clientèle un
                environnement sain en tout temps et en toutes circonstances.</p> </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            <img class="card-img-top" src="../../content/images/Industries.jpg" alt="Card image">
            <div class="card-body">
                <div class="text">
                <h3>Nettoyage <br>Industriel</h3><p>Intervention spécialisée en fonction de votre secteur d’activité (activité tertiaire, lieu
                recevant du public, lieu dédiés à la production ou à la transformation).<br> Nous vous assurons un
                savoir-faire mais aussi un gain de temps.</p>
            </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            <img class="card-img-top" src="../../content/images/Remise en état.jpg" alt="Card image">
            <div class="card-body">
                <div class="text">
                <h3>Nettoyage fin chantier, sinistre, déménagement </h3>
                <p>Une remise en état complète pour vous faire gagner du temps et obtenir un travail de
                qualité.</p>
            </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            <img class="card-img-top" src="../../content/images/Vitres.jpg" alt="Card image">
            <div class="card-body">
                <div class="text">
                <h3>Nettoyage <br>des vitres</h3>
                <p>Intervention sur vos vitres et vitrines, enlevement des traces mais aussi de la graisse, à la
                fréquence de votre choix.</p>
            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card mb-3">
            <img class="card-img-top" src="../../content/images/Médical.jpg" alt="Card image">
            <div class="card-body">
                <div class="text">
                <h3>Nettoyage<br>Médical</h3>
                <p>BTNet vous assure que chaque intervention effectué a pour but de désinfecter les locaux, pour vous permettre à vous et à vos clients de rester dans un endroit sain.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
    <div class="card mb-3">
        <img class="card-img-top" src="../../content/images/Désinfection.jpg" alt="Card image">
        <div class="card-body">
            <div class="text">
            <h3>Désinfection<br>                 </h3>
            <p>Une désinfection totale réalisé avec précaution pour éviter les infections, nous appliquons les règles et les procédures actuelles, ce qui permettra de veiller aux bonnes techniques et aux fréquences de ménage nécessaires.</p>
            </div>
        </div>
    </div>
</div>
</div>
    <button type="button" class="btn btn-primary btn-lg mx-auto" style="display: block;" routerLink="/prendrecontact" routerLinkActive="active" >Me contacter</button>

</div>
