/* ==========================================================================
Main page styles
========================================================================== */

.image {
  background-image: url('../../content/images/fond_site.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position-x: center;
}

.logo-img {
  height: 120px;
  width: 120px;
  margin: auto;
  display: inline-block;
  background: url('../../content/images/logo-jhipster.png') no-repeat center;
  background-size: contain;
}

.text {
  margin: auto;
  text-align: center;
}



.card {
  text-align: center;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  @media (max-width: 480px) {
    height: initial;
  }
}

.card:hover {
  -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
}

.card-img-top {
    margin: auto;
    height: 250px;
    width: 250px;

}

