
.frame{
  background:#e0e0de;
  height:600px;

}
.frame > div:last-of-type{
  position:absolute;
  bottom:2px;
  width:95%;
  display:flex;
}
ul {
  width:100%;
  list-style-type: none;
  padding:18px;
  position:absolute;
  left: 0;
  height: 525px;
  bottom: 70px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

li{
  width: 100%;
}



.text{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text > p:last-of-type {
  width: 100%;
  text-align: right;
  margin-bottom: -7px;
  margin-top: auto;
}

.text-g{
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.msg-lui {
  float: left;
  background: #69bcf8;

}
.text-d {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.msg-moi {
  float: right;
  background: #7fb813;
}


.macro{
  margin-bottom: 5px;margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msg{
  margin-bottom: 5px;margin-top:5px;width:50%;border-radius:5px;padding:5px;display:flex;margin-left: 20px;margin-right: 20px;
}

textarea {
  width: 100%;
  height: 40px;
  border: none;
  background-color: whitesmoke;
}

.msj-rta{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float:right;background:whitesmoke;
}
.input_msg_write{
  width: 100%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #69bcf8 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  top: 15px;
  width: 33px;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 ul::-webkit-scrollbar {
  display: none;
}



